/* 
Reset
*/
    /* Sélectionner toutes les balises */
    *{
        /* Supprimer toutes les marges */
        margin: 0; /* marge ext. */
        padding: 0; /* marge int. */

        /* Intégrer les border et les padding dans la taille des balises */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Configurer l'utilisation des em/rem */
    html{
        font-size: 62.5%; /* 1rem = 1rem */
    }

    body{
        text-align: center;
        font-size: 1.5rem; /* => 15px */
    }

    /* 
    Faire en sorte que les images ne soient 
    jamais plus large que son parent 
    */
    img{
        max-width: 100%;
    }

    a{
        text-decoration: none;

        /* La couleur est la même que celle du parent */
        color: inherit;
    }

    li{
        /* Changer le type de balise pour aligner les LI */
        display: inline-block;
        margin-left: 1rem;
    }

    /* Sélectionner des balises par leur class */
    .siteLogo{
        font-size: 2.5rem;
    }

    header, section{
        margin-bottom: 5rem;

        /* Stopper le float */
        clear: both;
    }

    h2{
        color: white;
        background-color: darkblue;
        padding: 1rem;
        margin-bottom: 2rem;

        display: inline-block;
    }

    p {
        margin-bottom: 15px;
    }

/**/

/* 
Style header
*/
    header, footer{
        color: white;
        padding: 2rem;
        background-image: url("../img/back.jpg");
    }

    /* Bloquer les enfants dans le parent */
    nav{
        position: relative;
    }

    .siteLogo{
        display: block;
    }
/**/

/* 
Style main
*/
    main, nav{
        /* Limiter la largeur maximale */
        max-width: 60rem;

        /* Centrer un bloc réduit en largeur */
        margin: auto;
    }

    main{
        padding: 2rem;
    }

    h1{
        font-size: 25px;
        margin-bottom: 2rem;
    }

    /* Sélectionner une balise par son ID */
    #profilPicture{
        width: 10rem;
        margin-bottom: 1rem;

        /* Transformer un carré en rond */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    iframe{
        width: 100%;
        min-height: 25rem;
        border: none;
        margin-top: 2rem;
    }
    
    figure {
        /* Bloquer les enfants dans le parent */
        position: relative;
    }

    figcaption {
        /* Sortir la balise du flux pour la repositionner dans le parent */
        position: absolute;
        left: 0;
        bottom: 0;

        background-color: rgba(255, 255, 255, .6);
        padding: 1rem;
        width: 100%;
    }
/**/

/* 
Formulaire
*/
    input, textarea, button{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #eee;
        border: none;
    }

    button{
        background-color: darkblue;
        color: white;
    }
/**/




/* 
Requêtes média
*/

    /* Requête sur les écran d'une taille minimale de 600px */
    @media screen and (min-width: 600px){

        body{
            text-align: left;
        }

        #profilPicture{
            float: left;
            width: 5rem;
            height: 5rem;
            margin-right: 1.5rem;
        }

        #aboutSection p, figure{
            display: inline-block;
            width: 49%;
        }

    } /* Fin de la requête 600px */


    
    @media screen and (min-width: 900px) {

        figure{
            width: 24%;
        }
        
    } /* Fin de la requête 900px */

/**/