body{
    background-color: #eee;
    margin: 50px;
    color: white;
}

main{
    border: 5px solid black;
    padding: 50px;
}

section{
    padding: 10px;
    background-color: grey;
}

/* Sélectionner une ID */
#greenSection{
    background-color: green;
}

#yellowSection{
    background-color: yellow;
}

#redSection{
    background-color: red;
}

#greySection{
    background-color: grey;
}

