/* 
Style du reset
*/
    /* Supprimer toutes les marges de toutes les balises */
    *{
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
/**/


/* 
Style header
*/
    header{
        /* Le texte est en blanc */
        color: white;

        /* Ajouter une image de fond */
        background-image: url('../img/back.jpg');
    }
/**/