/* 
Reset
*/
    /* Sélectionner toutes les balises */
    *{
        /* Supprimer toutes les marges */
        margin: 0; /* marge ext. */
        padding: 0; /* marge int. */
    }

    /* 
    Faire en sorte que les images ne soient 
    jamais plus large que son parent 
    */
    img{
        max-width: 100%;
    }

    a{
        text-decoration: none;

        /* La couleur est la même que celle du parent */
        color: inherit;
    }

    li{
        /* Changer le type de balise pour aligner les LI */
        display: inline-block;
    }

    /* Sélectionner des balises par leur class */
    .siteLogo{
        font-size: 25px;
    }

/**/

/* 
Style header
*/
    header{
        text-align: right;
        color: white;
        padding: 20px;

        background-image: url("../img/back.jpg");
    }
/**/