/* 
Reset
*/
    /* Sélectionner toutes les balises */
    *{
        /* Supprimer toutes les marges */
        margin: 0; /* marge ext. */
        padding: 0; /* marge int. */
    }

    /* 
    Faire en sorte que les images ne soient 
    jamais plus large que son parent 
    */
    img{
        max-width: 100%;
    }

    a{
        text-decoration: none;

        /* La couleur est la même que celle du parent */
        color: inherit;
    }

    li{
        /* Changer le type de balise pour aligner les LI */
        display: inline-block;
        margin-left: 10px;
    }

    /* Sélectionner des balises par leur class */
    .siteLogo{
        font-size: 25px;
    }

    header, section{
        margin-bottom: 50px;

        /* Stopper le float */
        clear: both;
    }

    h2{
        color: white;
        background-color: darkblue;
        padding: 10px;
        margin-bottom: 20px;

        display: inline-block;
    }

/**/

/* 
Style header
*/
    header{
        text-align: right;
        color: white;
        padding: 20px;

        background-image: url("../img/back.jpg");
    }

    /* Bloquer les enfants dans le parent */
    nav{
        position: relative;
    }

    /* Placer le première LI à gauche */
    nav .siteLogo{
        position: absolute;
        left: -10px;
        top: -5px;
    }
/**/

/* 
Style main
*/
    main, nav{
        /* Limiter la largeur maximale */
        max-width: 600px;

        /* Centrer un bloc réduit en largeur */
        margin: auto;
    }

    h1{
        font-size: 25px;
        margin-bottom: 20px;
    }

    /* Sélectionner une balise par son ID */
    #profilPicture{
        width: 70px;

        /* Habiller l'image avec le texte qui la suit */
        float: left;
        margin-right: 10px;

        /* Transformer un carré en rond */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    #aboutSection p{
        display: inline-block;
        width: 49%;
    }


    figure {
        display: inline-block;
        width: 24%;
        position: relative;
    }
    
    figcaption {
        position: absolute;
        bottom: 10px;
        color: white;
        left: 10px;
    }
/**/