/* 
    - Supprimer toutes les marges de toutes les balises
    - Ajouter une bordure à la balise main
    - Ajouter une marge ext. de 20 px sur la balise main
    - Ajouter une marge int. de 20 px sur la balise main
    - La couleur du texte des sections est blanche
    - Ajouter une couleur de fond différente pour chaque section
*/
body{
    background-color: #eee;
}

*{
    margin: 0;
    padding: 0;
}

main{
    border: 5px solid black;
    margin: 100px 20px;
    padding: 20px;

    width: 300px;
    height: 200px;

    /* Bloquer les enfants dans le parent */
    position: relative;
}

section{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}


/* 
Sélectionner une balise par son ID
*/
#greenSection{
    background-color: green;

    /* Changer le positionnement de la balise (sortir la balise du flux logique) */
    position: absolute;

    /* Placer précisémment la balise */
    bottom: 0;
    right: 0;
}

#yellowSection{
    background-color: yellow;

    /* Changer le positionnement de la balise (sortir la balise du flux logique) */
    position: absolute;

    bottom: 0;
    left: 0;
}

#redSection{
    background-color: red;

    /* Changer le positionnement de la balise (sortir la balise du flux logique) */
    position: absolute;

    top: 0;
    right: 0;
}

#greySection{
    background-color: grey;

    /* Changer le positionnement de la balise (sortir la balise du flux logique) */
    position: absolute;

    top: 0;
    left: 0;
}